/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family:Arial,Helvetica,sans-serif;
}
body {
  text-align: center;
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.logo a img{
	height:80px;
}

/*
 * Text size
 */
h2{
    font-size: 32px;
    font-weight: 100;
    margin-bottom:25px;
}
 
p{
    font-size: 19px;
    font-weight: 100;
}
 
/*
 * Page structure
 */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 600px;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

.cover-container div {
  margin-top:40px;
  margin-bottom:70px;
  
}

/*
 * Sections
 */
 #introduction {
    color: #fff;
    background-color: #46a8e9;
 }
 
 .intro_buttons a{
    width:250px;
    margin-left:5px;
    margin-right:5px;
 }
 
 .intro_image img {
    margin-right:20px; 
    height:150px;
 }
 
 #video {
    color: #fff;
    background: url("../imgs/video_bg.jpg") no-repeat;
    background-size: cover;
    background-position: 0 100%;
    min-height: 350px;
    
 }
 
 .video_button {
    width:150px;
    height:150px;
    border: 4px solid #2d2d2d;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	-ms-border-radius: 75px;
	-o-border-radius: 75px;
	border-radius: 75px;
	font-size: 14px;
 }
 
 #intro_rate {
    color:#46a8e9;
 }
 
 .rating_image img {
    width:1000px;
 }
 
 #intro_verification {
    color:#fff;
    background-color: #46a8e9;
 }
 
#verification_img {
    margin-top:0px;
    margin-bottom:0px;
 }
 
 #get_start {
    background-color: #fff;
    height:50%;
    color: #46a8e9;
    min-height: 350px;
 }
 
 #last_section {
    position: relative;   
    height: auto;          
    min-height: 100%;
    height:100%; 
    margin-bottom: -60px;
    
 }
 
 #last_main {
    padding-bottom: 60px;
 }
 
 .footer {
    position: relative;  
    height: 80px; 
    width:100%;
    background-color:#fafafa;
    color:#000;
 }
 
 .footer_container {
    width:700px;
    margin-left:auto;
    padding-top:20px;
    margin-right:auto;
    text-align:left;
 }

.footer-links {
    float:left;
} 

.footer-links a {
    margin-right:20px;
    color:#565656;
    font-weight:bold;
}

.footer-links a:hover{
    color:#aaa;
}

.reserved-right {
	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
    color:#59636d;
    font-size:11px;
    margin:5px 0px;
}

.login-form {
    width: 350px;
    margin: 0 auto;
}

#login-submit {
    float:right;
    width: 150px;
}

#login-cancel{
    float:left;
    width: 150px;
}
 
#login-submit-container {
    margin-top: 15px;
    overflow: hidden;
    padding:20px;
}

.error-group{
    color:red;
}

#prev-page {
	right:20px;
	bottom:60px;
}

#next-page {
	right:20px;
	bottom:20px;
}

.navi-button {
	position:fixed;
	height:30px;
	width:30px;
	padding:5px;
	background-color:#000;
	opacity: 0.7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.navi-button:hover {
	opacity: 0.5;
}
